.droit{
  display: flex;
  justify-content: space-around
}

.titre{
  text-align: center;
}

.css-19r6kue-MuiContainer-root{
  background-color:#FADBD5;
}email
￼
Password
￼
￼Sign in with Credentials



.article{
  display: flex;
  grid-template-rows: auto;
  
}

.form{
  display: flex;
  flex-direction: row;
  
}

.articles{
  display: flex;
  justify-content: space-between;
}

.forms{
  background-color:#ad5b4a;
  border: none;
  color:white;
  cursor: pointer;
}
.R{
  background-color: #ad5b4a;
  border:none;
  color: white;

}
.form{
  background-color: #ad5b4a;
  color: white;
  
  
}
.form:hover{
  background-color:#ad5b4a;
  color:white;
}

.art{
  background-color: #ad5b4a;
  color: white;
}

.art:hover{
  background-color:#ad5b4a;
  color:white;
}


.pages{
  background-color: #ad5b4a;
  color: white;
}

.pages:hover{
  background-color: white;
  color: #ad5b4a
}
.pages:hover button{
  background-color: white;
}

.Titre{
 text-align: center;
 display: flex;
 justify-content:center;
 }

.formulaire{
 
  margin-top: 50px;

  
}  

.formss{
  text-align: center;
}