.container1{
    /* background-color:rgb(15, 22, 20, 0.3); */
    border-top: 1px dotted rgb(15, 22, 20);
    
}
.container {
    
    display: flex;
    justify-content: space-between;
    
}

article{
    margin-top: 2%;
    margin-bottom: 2%;
    
    font-family: 'Rajdhani', sans-serif;
}

.article1{
    margin-left: 5%;
    border-right: 1px dotted rgb(15, 22, 20, 0.7);
    padding-right: 20%;
}

.article2{
    display: flex;
    margin-right: 10%;
}



.center{
    display: flex;
    justify-content: center;
    
}